body{
    margin: 0;
}
.wrapper{
    
  margin: 0;
  text-align: center;
  padding-bottom: 12%;
  background-image: url('images/bg_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.contain{
  color: white;
  padding: 8px;
}
.contain a{
  margin: 10px;
}
.contain a:hover{
  margin: 10px;
  text-decoration: none;
  color: blue;
}
.booking{
  display: block;
  background-color: orange;
  color: white;
  box-sizing: border-box;
  padding: 5px;
}
.booking:hover{
  display: block;
  background-color: red;
  
}
.wrapper h1{
  color: white;
 padding-top: 15%;
  font-size: 6em;
  font-family: 'Tangerine', cursive;
}.wrapper  a{
  color: white;
  font-size: 1.5em;
}
.wrapper  a:hover{
  color: lightgreen;
  text-decoration: none;
}
.container5{
  margin: -16px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: black;
}
.container5 img{  
        padding: 20px;
}
.container5 img:hover{
  border: 1px solid #ffb84d;
  padding: 20px;
  transition: 1s;
  transform: rotate(720deg);
}
.container5 h1{
color: #ffb84d;
padding-top: 20px;
}  
.container5 p{
color: white;
}
@media screen and (max-width:500px){
.container5 img{  
margin: 40px auto 10px;
}
.container5 h1{
color: #ffb84d;
padding-top: 10px;
}  
}

.wrapper3{
    padding: 80px 30px 30px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.wrapitems3:nth-child(1){
  flex-basis: 25%;
    box-sizing: border-box;
    float: left;
}
.wrapitems3:nth-child(2){
  flex-basis: 35%;
  box-sizing: border-box;
  float: left;
  padding: 0 50px 10px;
}.wrapitems3:nth-child(3){
  flex-basis: 15%;
  box-sizing: border-box;
  float: left;
}.wrapitems3:nth-child(4) p{
  padding: 10px 40px;
  text-align: left;
}
.wrapitems3:nth-child(4) img{
  padding-right: 20px;
}.wrapitems3:nth-child(4) a{
  text-decoration: none;
  color: white;
}
.wrapitems3:nth-child(4) a:hover{
  text-decoration: none;
  color: red;
}
.wrapper3 h2{
 padding-bottom: 30px;
/* font-family: 'Caveat', cursive;*/
 font-family: 'Tangerine', cursive;
 color: white;
}
.blog1{
  width: 100%;
}
.blog1 img{
  padding: 30px;
}
@media screen and (max-width:500px){
    .wrapper3{
        padding: 60px 30px 10px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .wrapitems3:nth-child(1){
      flex:1;
        box-sizing: border-box;
        padding-bottom: 40px;
    }
    .wrapitems3:nth-child(2){
        flex-basis: 35%;
        box-sizing: border-box;
        float: left;
        padding: 0 5px 10px;
    }.wrapitems3:nth-child(3){
     flex:1;
      box-sizing: border-box;
      padding-top: 50px;
      padding-bottom: 80px;
  }  
  .wrapitems3:nth-child(4) p{
    padding: 10px 10px;
    text-align: left;
}
}